* {
  /* font-family: 'General Sans', sans-serif; */
  /* font-family: 'Satoshi', sans-serif; */
  /* font-family: 'Clash Display', sans-serif; */
  /* font-family: 'Stardom', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Sentient', Poppins;
  /* font-family: 'Chillax', sans-serif; */
}
